* {
    text-decoration: none;
    font: 16px arial, Helvetica, sans-serif;

}


body {
    background: #c2c2b1 url('/img/anna/fundo.png');

}

a {
    color: #4b566a;
    font-weight: bold;
    padding: 5px;
}

#principal {
    width: 900px;
}

#menu {
    background: #c5c5b2;
    padding: 18px;
}

#fundo-2 {
    background-color: #e8e8d9;
    padding: 10px;
}

.centralizar{
    text-align: center;
}

.titulo {
    color: rgb(119, 106, 81);
}

.anna-img img {
    border: 10px solid rgb(214, 191, 147);
    margin-left: 10px;
}