.conteudo {
    background: blue;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
}

.conteudo1 {
    background: blue;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    float: ;
}